.box-image-content-3{
    position: relative;
}

.content-3 .absolute:hover{
    cursor: pointer;
    opacity: 0.8;
}

.text-topic{
    font-size: 40px;
}

.consultation{
    background-color: #E00000;
    z-index: 1001;
    padding:20px;
    border-radius: 20px;
}

.consultation p{
    color:white;
}

.btn-appointment{
    font-size: 10px;
    width: 200px;
    border-radius: 50px;
    background-color: #F9F9F9;
    opacity: 0.8;
    color:black;
}

.cons-left{
    border-right: 2px solid white;
}

.opacity{
    opacity: 0.8;
}

.popup-image {
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}
.modal-content {
    width: 100%;
    height: 70vh; /* Set the height of the modal content to 100% viewport height */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the image vertically */
    align-items: center; /* Center the image horizontally */
}