*{
    font-family:poppins-semibold;
}

.footer{
    background-color: #E00000;
    margin-top: 20px;
}

footer p{
    font-size: 18px ;
    margin:0;
    opacity: 0.8;;
    color: white;
}

.footer-topic{
    opacity: 1 !important;
    font-weight: bold;
}

.footer a{
    color:white;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Apply the animation to an element */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.content-container{
    min-height: 80vh;
}